html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {display: none;}

body {
    background-image: url(./assets/imghero.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

nav {
    width: 100%;
}

img.usuario {
    width: 20%;
}

.logo{
    width: 8rem;
    padding-left: 1rem; 
}

.linkHeader {
    text-decoration: none;
    color: beige;
    margin-left: 0.5vw;
}

nav.navbar {
    background-color:rgba(255, 191, 0, 0.527) !important;
}

div.cajaHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
}

div.titulo {
    text-align: center;
}

img.logoMyTinerary {
    width: 50%;
}

div.footer {
    display: flex;
    background-color: rgba(255, 191, 0, 0.678);
}

div.footerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    width: 30%;
    margin-left: 8vw;
}

img.redes {
    width: 1vw;
}

div.main {
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 2vw;
    align-content: center;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

h2, h1 {
    text-align: center;
    color: rgb(255, 191, 0) ;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex !important;
    flex-wrap: wrap !important;
    position: relative !important;
}

.h4, h4 {
    font-size: 2vw !important;
}

h3 {
    background-color: rgba(255, 191, 0, 0.637);
}

p, a {
    font-size: 1vw;
}

p.choose {
    color: whitesmoke;
}

section {
    margin-top: 10% ;
}

img.pepito {
    width: 40vw;
    margin: 1vw;
}

div.carousel-item {
    align-content: center;
    justify-content: center;
    text-align: center;
}

p.callToAction {
    color: whitesmoke;
}

div#root {
    background-color: rgba(0, 0, 0, 0.37);
}

div.cajaCities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7vh;
}

div#city {
    width: 40vw;
    height: 30vh;
    margin: 2vh 1vw;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 90%;
}

.card {
    width: 45%;
    box-sizing: content-box;
    margin-bottom: 2vh;
}

.cardsFather {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    justify-content: space-evenly;
}

.image-box {
    position: relative;
    overflow: hidden;
    width: 30vw;
}

.image-box img {
    max-width: 100%;
    transition: all 0.6s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    filter: brightness(60%);
}

.image-box:hover img {
    transform: scale(1.1);
    filter: brightness(100%);
}

div.body {
    min-height: 66.71vh;
}

div.itineraries-father {
    display: flex;
    justify-content: space-around;
}

div.filterInput {
    width: 100vw;
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
    justify-content: center;
}

div.navbarContainer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.dropdown-item{
    width: fit-content;
}

div.account {
    width: 20%;
    display:flex;
    justify-content: space-around;
}

.userdiv{
    margin-right:5rem;
}

.user{
   width: 2.5rem;
}

.userProfilePhoto, .userIcon {
    margin-top: 1vh;
    background-position: 50%;
    width: 4em;
    height: 4em;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
}

img.logos {
    width: 15%;
    filter: invert(100);
}

.logo{
    width: 8rem;
    padding-left: 1rem; 
}

.navheader{
    margin-top: 1rem;
    display: flex;
    align-content: center;
}
nav a, .signOut, .welcome{
    align-self: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
    padding: 0 1rem;
    margin-bottom:0 !important;
}

li{
    list-style-type:none;
}

.nav-link:hover, .nav-link:focus {
    color: black;
}

.nav-link {
    color:black !important;
}

nav a:hover{
    color: rgb(1, 155, 1)
}

.signOut:hover{
    color: rgb(1, 155, 1)
}

.signUpTittle h2, .signInTittle h2{
    font-weight: bold;
    color:#cfcfcf;
    font-size: 7vmin;
}

.signUpTittle h4, .signInTittle h4 {
    font-size: 3vmin;
}

.signUpBack, .signInBack {
    background-repeat: no-repeat;
    width: 100%;
    min-height: 90vh;
    background-size:cover;
    background-position:center center;
}
.signInBack, .signUpBack{
    min-height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.signInBack {
min-height: 86vh;
}

.signInTittle{
    padding: 2rem;
}

.formContainer, .formContainerSignIn{
    padding: 2rem 2rem;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formContainer form, .signInForm {
    width: 100%;
    display:flex;
    flex-direction: column;
}

form input, form select, .signInForm input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
}

.formButtons{
    display: flex;
    flex-direction: column;
}

.formButtons button {
    padding: .3rem 0;
    margin: .2rem;
}

form span, .signInForm span {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1vh;
    border: none;
    padding: 2vh 2vw;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 6px 3px rgba(175, 174, 174, 0.253);

}

.eyeIcon {
    cursor: pointer;
} 

@media only screen and (max-width: 990px) {
    p, a, h4 {
        font-size: 3vw;
    }
    div.cajaVideo {
        height: 70vh;
    }
    div.cajaHero {
        padding-top: 10vh;
    }
    img.logoMyTinerary {
        width: 30vw;
    }
    div.footerBox {
        display: flex;
        width: 20%;
        margin-left: 5vw;
    }
    
    div.footerBox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-between;
        width: 30%;
    }

    div.texto {
        display: none;
    }

    img.usuario {
        width: 8vw;
    }

    section {
        margin-top: 10% ;
    }

    .image-box {
        position: relative;
        overflow: hidden;
        width: 45vw;
    }
}

@media only screen and (max-width: 550px) {
    .image-box {
        position: relative;
        overflow: hidden;
        width: 75vw;
    }
}