html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {display: none;}

body {
    background-image: url(./assets/imghero.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

nav {
    width: 100%;
}

img.usuario {
    width: 20%;
}

.logo{
    width: 8rem;
    padding-left: 1rem; 
}

.linkHeader {
    text-decoration: none;
    color: beige;
    margin-left: 0.5vw;
}

nav.navbar {
    background-color:rgba(255, 191, 0, 0.527) !important;
}

div.cajaHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
}

div.titulo {
    text-align: center;
}

img.logoMyTinerary {
    width: 50%;
}

div.footer {
    display: flex;
    background-color: rgba(255, 191, 0, 0.678);
}

div.footerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    width: 30%;
    margin-left: 8vw;
}

img.redes {
    width: 1vw;
}

div.main {
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 2vw;
    align-content: center;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

h2, h1 {
    text-align: center;
    color: rgb(255, 191, 0) ;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex !important;
    flex-wrap: wrap !important;
    position: relative !important;
}

.h4, h4 {
    font-size: 2vw !important;
}

h3 {
    background-color: rgba(255, 191, 0, 0.637);
}

p, a {
    font-size: 1vw;
}

p.choose {
    color: whitesmoke;
}

section {
    margin-top: 10% ;
}

img.pepito {
    width: 40vw;
    margin: 1vw;
}

div.carousel-item {
    align-content: center;
    justify-content: center;
    text-align: center;
}

p.callToAction {
    color: whitesmoke;
}

div#root {
    background-color: rgba(0, 0, 0, 0.37);
}

div.cajaCities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7vh;
}

div#city {
    width: 40vw;
    height: 30vh;
    margin: 2vh 1vw;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 90%;
}

.card {
    width: 45%;
    box-sizing: content-box;
    margin-bottom: 2vh;
}

.cardsFather {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    justify-content: space-evenly;
}

.image-box {
    position: relative;
    overflow: hidden;
    width: 30vw;
}

.image-box img {
    max-width: 100%;
    transition: all 0.6s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    filter: brightness(60%);
}

.image-box:hover img {
    transform: scale(1.1);
    filter: brightness(100%);
}

div.body {
    min-height: 66.71vh;
}

div.itineraries-father {
    display: flex;
    justify-content: space-around;
}

div.filterInput {
    width: 100vw;
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
    justify-content: center;
}

div.navbarContainer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.dropdown-item{
    width: fit-content;
}

div.account {
    width: 20%;
    display:flex;
    justify-content: space-around;
}

.userdiv{
    margin-right:5rem;
}

.user{
   width: 2.5rem;
}

.userProfilePhoto, .userIcon {
    margin-top: 1vh;
    background-position: 50%;
    width: 4em;
    height: 4em;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
}

img.logos {
    width: 15%;
    filter: invert(100);
}

.logo{
    width: 8rem;
    padding-left: 1rem; 
}

.navheader{
    margin-top: 1rem;
    display: flex;
    align-content: center;
}
nav a, .signOut, .welcome{
    align-self: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
    padding: 0 1rem;
    margin-bottom:0 !important;
}

li{
    list-style-type:none;
}

.nav-link:hover, .nav-link:focus {
    color: black;
}

.nav-link {
    color:black !important;
}

nav a:hover{
    color: rgb(1, 155, 1)
}

.signOut:hover{
    color: rgb(1, 155, 1)
}

.signUpTittle h2, .signInTittle h2{
    font-weight: bold;
    color:#cfcfcf;
    font-size: 7vmin;
}

.signUpTittle h4, .signInTittle h4 {
    font-size: 3vmin;
}

.signUpBack, .signInBack {
    background-repeat: no-repeat;
    width: 100%;
    min-height: 90vh;
    background-size:cover;
    background-position:center center;
}
.signInBack, .signUpBack{
    min-height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.signInBack {
min-height: 86vh;
}

.signInTittle{
    padding: 2rem;
}

.formContainer, .formContainerSignIn{
    padding: 2rem 2rem;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formContainer form, .signInForm {
    width: 100%;
    display:flex;
    flex-direction: column;
}

form input, form select, .signInForm input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
}

.formButtons{
    display: flex;
    flex-direction: column;
}

.formButtons button {
    padding: .3rem 0;
    margin: .2rem;
}

form span, .signInForm span {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1vh;
    border: none;
    padding: 2vh 2vw;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 6px 3px rgba(175, 174, 174, 0.253);

}

.eyeIcon {
    cursor: pointer;
}

.headerItinerario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 27vh;
  }
  .nombreGuia{
    color: antiquewhite;
    font-size: 3vw;
    text-decoration: underline rgb(50, 131, 40);
  }
  .card .img-cards{
   
    width: 100%;
    height: 8rem;
    max-width: 900px;
    max-height: 300px;
    
    height: 60vh;
    background-size: contain;
    background-color: black !important;
  }
  .iconoItinerarios{
    height: 15vh;
    width: 11vw;
    border-radius: 10vh;
    border: solid 5px  rgb(50, 131, 40);
  }
  .card{
    background-color: black !important;
  }
  .cuerpo-hero{
    height: 90vh;
  }
  .itinerarioContenedor{
    height: 100%;
    width: 60vw;
    background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgb(50, 131, 40) 91.1% );
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 3%;
  }
  .accordion-body{
    color: black;
  }
  .imgActi{
    height: 70%;
  }
  .contenedorTitulo{
    height: 30%;
  }
  .cards{
    background-color: rgb(46, 46, 46) !important;
  }
  .cards-texto{
    color: white !important;
  }
  .actividades{
    display: flex;
    
    height: 20%;
    justify-content: space-around;
  }
  .cometariosContenedor{
   box-sizing: content-box;
  }
  .cardActivi{
    margin-left: 5% !important;
    height: 30vh;
  }
  .tituloActi{
    color: white !important;
    font-size: 1vw !important; 
  }
  div.activityPic {
    background-position: center;
    background-size: cover;
    width: 15rem;
    height: 20rem;
    border-radius: 10px;
  }
  div.activity {
    display: flex;
    
  }
  .dropdown-item{
    color: white !important;
    width: 3vw !important;
  
  }
  .espacio{
    width: 5vw;
  }
  .dropdown-item:hover{
    background-color: rgb(37, 37, 37) !important;
    color: rgb(50, 131, 40) !important;
  }
  .dropdown-menu{
    background-color: rgb(37, 37, 37) !important;
    color: rgb(50, 131, 40) !important;
  }
  
  .link-contenedor:hover{
    background-color: rgb(59, 58, 58);
    border-radius: 2rem;
  
  }
  .mytinerary-navbar{
    color: antiquewhite;
    font-size: 3vh;
    font-family: 'Times New Roman', Times, serif;
  }
  .contenedor-poster{
    height: 60vh;  
  display: flex;
  justify-content: center;
  }
  .pencil{
    height: 2vw;
  }
  .hastags{
    color: aqua;
    padding-left: 2vh;
  }
  /* comentarios*/
  div.profilePicContainter, div.profilePic {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
   
  }
  div.textArea {
    display: flex;
  }
  
  div.textArea p {
    background-color: lightslategray;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: .5rem;
    font-size: 2vmin;
    margin-left: 2rem;
    margin-right: .5rem;
    margin-top: .5rem;
  }
  .barrabusqueda{
    height: 7vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    border: solid black 6vh 0 0 0;
    padding-bottom: 3vh;
  
  }
  .likes{
    font-size: 4vh;
    color: white;
  }
  .contenedor-citisl{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tamaño{
    height: 20vh;
  }
  
  .textbusc{
    font-size: 3vw;
  }
  .buscador{
    width: 40vw;
  }
  .espaciado.carusel{
    height: 20vh;
    background-color: black;
    
  }
  .contenedor-texto-post{
    background-color: rgba(0, 0, 0, 0.671);
    margin-top: 13vh;
    height: 40vh;
    width: 55vw;
    border-radius: 3vw ;
  }
  .texto-poster{
    font-size: 10vw;
    text-align: center;
    
    color:rgb(24, 243, 232);
    
  }
  
  
  /* herooooooo...................... */
  
  .cuerpo{
    
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .cartel-cuerpo{
   background-color: rgba(72, 165, 145, 0.418);
   height: 60vh;
   box-shadow: 1vw 3vh 8vh 2vh rgba(232, 241, 221, 0.573);
   border-radius: 3rem;
   padding: 1.5rem;
  }
  .p-cartel{
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(249, 255, 254);
   
    
  }
  .p-hero-uno{
    font-family: cursive;
    font-weight: bolder;
    font-style: oblique;
    font-size: 2vw;
  
  }
  .p-hero-dos{
    font-family: cursive;
    font-weight: bolder;
    font-style: oblique;
    font-size: 3vw;
  
  }
  .p-hero-tres{
    font-family: cursive;
    font-weight: bolder;
    font-style: oblique;
    font-size: 2vw;
  
  }
  .boton-cont{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subtitulo{
    font-size: 8vw;
    text-align: center;
    color: rgb(24, 243, 232);
  }
  .boton-cartel{
    background-color: rgb(174, 0, 255);
    margin-top: 1rem;
    padding:1rem;
    color: black;
    margin-bottom:1rem;
  }
  
  .construction{
    background-color: turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34vh;
    width: 30vw;
    height: 20vh;
    margin-left: 37vw;
  }
  .cityCartel{
    background-color: black;
    height: 50vh;
    width: 80vw;
  }
  .contenedorCity{
    height: 40vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
  }
  .foto-carne{
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
  }
  .contenedorItinerario{
    background-color:rgb(26, 26, 26);
    width: 70vw;
    border: solid 3px black;
    border-radius: 1vw;
  }
  .dato1{
    border: solid 3px black;
    width: 49.9vw;
    border-radius:0 1vw 0  0 ;
  }
  .pricio{
    color: rgb(250, 250, 250);
    font-weight:bold;
  
    
  }
  .contenedorLikes{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .botonvuelta{
    height: 30vh;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .datos3{
  justify-content: space-around;
    display: flex;
    height: 10vh;
  }
  .heart{
    width: 5vw;
    height: 5vh;
    cursor: pointer;
   
  }
  .corazon{
    background-color: rgb(75, 74, 74);
    border-radius: 2vh;
    display: flex;
    margin-bottom: 4vh;
    width: 9vh;
  }
  .hastag{
    display:flex;
    font-size: 2vw;
  }
  .price{
    display:flex;
    font-size: 3vw;
  }
  .duration{
    color: rgb(255, 255, 255);
    font-size: 3vw;
  }
  .dato2{
    display: flex;
    justify-content: space-around;
  }
  .datosItinerario{
    display: flex;
    flex-direction: column;
  }
  .nombreItinerario{
    font-size: 5vw;
    text-align: center;
    color: aqua;
    
  }
  .cardItinerario{
  display: flex;
  }
  
  .imagenEle{
    height: 42vh;
    width: 100%;
    
  }
  .relative{
    position: relative;
    bottom: 20vh;
  }
  .accordion-button{
    background-image: url(../src/assets/itienrarios.jpg);
    border: rgb(31, 30, 30) solid 3px !important;
    color: aqua !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
  }
  .contenedortodo{
    height: 100vh;
    background-color:rgb(31, 30, 30) ;
  }
  .contenedorItinerarios{
    background-color:rgb(31, 30, 30) ;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
  }
  .foterCity{
    height: 5vh;
  }
  .sinItinerarios{
    height: 30vh;
    width: 40vh;
    background-color: aqua;
    text-align: center;
    border-radius: 3vw;
    border: solid black 5px;
    
  }
  
  
  .volverAciTy{
    padding-top: 10vh;
    margin-bottom: 10vh;
  }
  .titulociudad{
    text-align: center;
    color: aqua;
    
  }
  .contenedorCartelCiudad{
    background-color: black;
    
    width: 100vw;
    height: 50vh;
  }
  
  
  
  .citi-name{
    text-align: center;
      background-color: rgba(137, 43, 226, 0.76);
      width: 28.8%;
      margin: 0;
      margin-top: 17vh;
      position: absolute;
      color: rgb(13, 13, 14);
      font-style: italic;
      font-size: 2vh;
      font-weight: bold;
  }
  
  .imagenes{
    width: 50px;
  }
  
  
  .poster-texto{
    text-align: center;
    font-size: 3vw;
    color: rgb(165, 101, 23);
  }
  
  
  .sinresultado{
    height: 35vh;
    width: 30vw;
    background-color: aqua;
    border-radius:2rem ;
    text-align: center;
    margin-left: 30vw;
  }

@media only screen and (max-width: 990px) {
    p, a, h4 {
        font-size: 3vw;
    }
    div.cajaVideo {
        height: 70vh;
    }
    div.cajaHero {
        padding-top: 10vh;
    }
    img.logoMyTinerary {
        width: 30vw;
    }
    div.footerBox {
        display: flex;
        width: 20%;
        margin-left: 5vw;
    }
    
    div.footerBox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-between;
        width: 30%;
    }

    div.texto {
        display: none;
    }

    img.usuario {
        width: 8vw;
    }

    section {
        margin-top: 10% ;
    }

    .image-box {
        position: relative;
        overflow: hidden;
        width: 45vw;
    }
    .formContainer, .formContainerSignIn{
        width:45vw;
    }
 
}

@media only screen and (max-width: 550px) {
    .image-box {
        position: relative;
        overflow: hidden;
        width: 75vw;
    }
    .formContainer, .formContainerSignIn{
        width:80vw;
    }
}